body,
h1  {
    padding: 0;
    margin: 0;
    font-size: var(--glogal-font-size-desktop-h1);   
    color: rgb(0,0,0);
    text-align: center;     
}
body {
  font-size: var(--global-font-size);
  margin: 0 auto;
  width: 500px;

}
h2  {
    padding: 0;
    margin: 0;
    font-size: var(--glogal-font-size-desktop-h2);
    color: rgb(0, 0, 0);  
    text-align: center;   
}  
hr 	{
    width: 50%;
    color: var(--global-color-border-gen);
    font-weight: normal;
}
.funcao, p, span  {
    padding: 0;
    margin: 0;
    font-size: 1em;      
    font-style: italic;     
    color: var(--global-font-color-gen);
      
}
span {
  font-weight: bold;
  letter-spacing: 1.3px;
  padding-top: 7px;  
}

.funcao {
  font-weight: 600;
}

.principal {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header"
                         "lateral lateral"
                         "secao secao"
                         "rodape rodape" ;      
}
.principal {
  display: flex;
  flex-direction: column;
}
header {
 background-color: var(--global-color-header);
 display: flex;
 flex-direction: column;
 padding: 0px;
 align-items: center;
}
header div {
    width: 100%;
}
.dados-de-contato { /*aside*/
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8px;
  border: 1px solid rgba(0,0,0,.2);
}

.perfil-academico { /*footer*/
  grid-area: rodape;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-top: 10px; 
  border: 1px solid var(--global-color-border-gen);
}
.formacao, .cursos, .atual {
  align-self: center;
}
.cursos {
  margin: 0 2px;
}
.atual {
  margin: 0px;
  padding-right: 20px;
}

#foto {
    height: 150px;
    border: 1px solid rgb(176, 176, 176);
    padding: 10px;
    margin-top: 15px;
}
#foto:hover {opacity: 0.95;}

.rede-social {
  display: flex;
  justify-content: center;
  padding: 5px 10px 0px 0px;
}
.rede-social img {
  width: 25px;
  cursor: pointer;
  margin-left: 8px;
}
.rede-social img:hover {opacity: 0.5;}

.experiencia {
    width: 100%;
    grid-area: secao;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--global-color-border-gen);
}
.experiencia div {
  width: 98%;  
}



/********/
/*tablet
@media(max-width: 992px) {
  h1  {
      font-size: 2em;
  }
  h2  {
  font-size: 2vw;   
  }
  .experiencia {
      flex-direction: column;
      justify-content: space-between;
  }
  .experiencia div {
    width: 100%;
  }
  .rede-social img {
    width: 22px;
  }
  .principal {
      grid-template-columns: 100%;
      grid-template-areas: "header" "secao" "lateral" "rodape";
  }
  footer {
      display: flex;
      flex-wrap: wrap;
      text-align: center; 
  }
  .formacao, .cursos, .atual {
      margin: 0;
      border: solid 1px #fff;
      align-self: center;  
  }
  .cursos {
      order: -1;
  }
  .formacao{
    
  }
}

*/
/*********** /
/*smartphone 768*/
@media(max-width: 768px) {
  
  body {
        width: 480px;
        max-width: 768px;
        margin: 0;  
        padding:0px;
        background-color: rgb(101, 226, 43);
        font-size: 90%;
    }
 

  header {
    display: block;
    margin: 0px ;
    padding: 0px;
  }
  .foto,.ident, .ree-social { 
 
  }
  .ident {


  }
  
  .rede-social {
 
  }

  .rede-social img {
    width: 22px;
  }

  .principal {

  }

  footer {

  }
  .formacao, .cursos, .atual {
      margin: 0;
      border: solid 1px #fff;
  }

}
