:root {
    --font-color-titulo: #4b7bec;
    --font-color-destaque: #0c0016;
    --global-color-header: #eefdff;
    --global-font-size: 16px;
    --glogal-font-size-desktop-h1: 3.2vw;
    --glogal-font-size-desktop-h2: 1.5vw;

    --global-color-border-gen: rgba(0,0,0,.2);
    --global-font-color-gen:  rgb(80, 78, 78);  

}
*{
    margin:0;
    padding: 0;
    border: 0;
} 
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
ul, ol, li  {
    list-style: none; 
}
a {
    text-decoration: none;
}

hr 	{
    width: 50%;
    color: --global-color-border-gen;
    font-weight: normal;

}
/*tentando implementar uma técnica chamada crossbrowser


